<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Profile</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/user/userIndex">PhotoBlog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/user/profile">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/photos/upload">Upload</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>

    </ul>
  </div>
</nav>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h4 class="mb-0">My Profile</h4>
        </div>
        <div class="card-body">

          <p class="card-text"><b>UserName:</b> <span th:text="${users.username}"></span></p>
          <p class="card-text"><b>Email:</b> <span th:text="${users.email}"></span></p>
          <p class="card-text"><b>Phone Number:</b> <span th:text="${users.phoneNumber}"></span></p>
          <p class="card-text"><b>Bio:</b> <span th:text="${users.bio}"></span></p>
          <h3 class = "card-text" style="text-align:right"><a href="/user/profile/update" class="btn btn-primary">Edit</a>
          </h3>

          <h3 class = "card-text" style="text-align:right"><a href="/user/userIndex" class="btn btn-primary">back</a></h3>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
